* {
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 38%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: transparent;
    position: fixed;
}

.nav-bar li{
    list-style: none;
    display: inline-block;
    padding-right: 50px;
    text-align: center;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar ul li a:hover{
    color: yellow;
    transition: .3s;
}

.nav-bar ul li.active a {
    color: yellow;
    
}

.main {
    background-image: url('../images/young-woman-1968474.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    padding: 25px;
    /* margin-top: 25px; */
}

.main h1{
    line-height: 1.6;
    color: white;
    text-align: center;
    font-size: 100px
}

span {
    color: yellow;
}

.text {
    margin: 150px;
    text-align: center;
    color: yellow;
}

.column {
    display: flex;
}

.left-side {
    flex: 2;
}

.right-side {
    flex: 1;
    
}